@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --hover: #1b2f54;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply underline;
}

input {
  color: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.todo:hover {
  background-color: var(--hover);
}

.primary-button {
  background-color: var(--background);
  border-color: var(--foreground);
  color: var(--foreground);
}

.primary-button:hover {
  background-color: var(--hover);
  border-color: var(--hover);
}
